//GRID
$grid-width: 150rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;


//COLORS
$black-transparent-2: rgba(0, 0, 0, 0.2);

$gray-transparent-5: rgba(128, 128, 128, 0.5);
$gray-transparent-2: rgba(128, 128, 128, 0.2);


$purple-transparent-5: rgba(128, 0, 128, 0.5);