.cards {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 23rem;
  width: 18rem;
  transition: all .2s ease;
  border-radius: .3rem;
  box-shadow: 0 .5rem 2rem $black-transparent-2;
  overflow: hidden;
  margin: 1rem;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &__picture {      
    text-align: center;
    height: 13rem;

    img {
      object-fit: cover;
      transform: scale(1.2) translateY(1rem);
    }
  }

  &__details {

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.4rem;
        padding: .1rem;
        text-transform: capitalize;

        &:not(:last-child) {
          border-bottom: 1px  solid $black-transparent-2;
        }
      }
    }

    &--type-pokemon {
      padding-top: .5rem;
      text-align: center;
      position: relative;
      height: 2rem;

      p {        
        color: antiquewhite;
        border: 1px solid antiquewhite;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 0 4px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.container-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}