.images {
  text-align: center; 

  &__pokemon {
    display: inline-block;
    border-radius: .5rem;
    margin: 1rem;
  }

  &__default {
    background-color: $gray-transparent-5;  
  }

  &__shiny {
    background-color: $purple-transparent-5;
  }

  &__type {
    width: 100%;
    font-size: 1.3rem;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius:  5px;
  }

  &__img {
    transform: scale(1.1);
  }
}

.shiny {  
  background-color: purple;
}

.normal-pok {  
  background-color: gray;
}

.form-infos {
  font-size: 2rem;
  margin-top: 2rem;

  &__input {
    font-size: 1.6rem;
    border-radius: 3px;
    padding: .4rem 1rem;
    background-color: $gray-transparent-2;

    margin-bottom: 1rem;
  }
}

.types {
  margin-top: 2rem;  
  font-size: 2rem;

  &__list-types {
    list-style: none;
    text-align: center;
  
    li {
      border-radius: 7px;
      border: 1px solid wheat;
      color: wheat;
      margin-bottom: 1rem;
      text-transform: uppercase;
      display: block;
      max-width: 12rem;
      padding: .2rem 1rem;
    }
  }
}

.types-damage {
  margin-top: 2rem;  
  font-size: 2rem;
  text-transform: capitalize;

  &__list-types {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  
    li {
      font-size: 1rem;
      border-radius: 5px;
      border: 1px solid wheat;
      color: wheat;
      margin: .2rem;
      text-transform: uppercase;
      display: block;
      max-width: 6rem;
      padding: .2rem .5rem;
    }
  }
}

.abilities {
  margin-top: 2rem;  
  font-size: 2rem;

  &__list-abilities {
    
    li {
      padding: 0 3rem;
      list-style: none;
      background-image: url("./assets/img/Pokeball.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 1.8rem;
      text-transform: capitalize;
    }
  }
}

.videogames {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: capitalize;

  &__list {    
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  font-size: 1.5rem;

  li {
    padding: 0 3rem;
    list-style: none;
    background-image: url("./assets/img/control.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.5rem;
    text-transform: capitalize;
    }
  }
}

.moves {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: capitalize;

  &__list {    
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;

  li {    
    margin: .6rem;
    list-style: none;
    text-transform: capitalize;
    background-color: $gray-transparent-2;
    padding: .5rem 1rem;
    border-radius: 5px;
    flex-grow: 1;
    }
  }
}
