.rowg {
  max-width: $grid-width;
  margin: 0 auto;
  
  &:not(:last-child) {    
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;
    
    &:not(:last-child) {    
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-10 {
    width: calc((100% - #{$gutter-horizontal} * 9) / 10);    
  }

  .col-2-of-10 {
    width: calc( 2 * ( ( 100% - #{$gutter-horizontal} * 9 ) / 10 ) +  #{$gutter-horizontal});    
  }

  .col-3-of-10 {
    width: calc( 3 * ( ( 100% - #{$gutter-horizontal} * 9 ) / 10 ) +  #{$gutter-horizontal} * 2);    
  }

  .col-4-of-10 {
    width: calc( 4 * ( ( 100% - #{$gutter-horizontal} * 9 ) / 10 ) +  #{$gutter-horizontal} * 3);    
  }

  .col-5-of-10 {
    width: calc( 5 * ( ( 100% - #{$gutter-horizontal} * 9 ) / 10 ) +  #{$gutter-horizontal} * 4);    
  }
}