.images-section {
  position: relative;
  height: 80vh;
}

.images {
  height: 80%;
  
  background-image: linear-gradient(to right bottom, rgba(138, 34, 34, 0.75), rgba(240, 116, 116, 0.75)), url(./img/charizard.jpg);

  background-size: cover;   
  background-position: top;  
  position: relative;
  
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

}

.pokimage {
  margin-top: -5px;
  padding: 0;
  max-height: 100px;
  display: block;
  position: absolute;
  right: 10px;
}

@media only screen and (max-width:600px){
  .pokimage {
    max-height: 60px;
    right: -2px;
    margin-top: 10px;
  }
}