@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*Hace que todos hereden esta propiedad del padre, así que todos heredan de body*/ }

html {
  font-size: 62.5%;
  /*Esto para hacer que el font-size sea de 10px,
                   pues toma en cuenta los 16px del navegador. Esto es un ram*/ }

body {
  box-sizing: border-box; }

.control-form {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 1.5rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .4rem; }

.botton {
  font-size: 1.6rem;
  background-color: red;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer; }
  .botton:hover {
    background-color: #c00303; }
  .botton:focus {
    outline: none; }

.pokimage {
  margin-top: -5px;
  padding: 0;
  max-height: 100px;
  display: block;
  position: absolute;
  right: 10px; }
  .pokimage:hover {
    cursor: pointer; }

@media only screen and (max-width: 600px) {
  .pokimage {
    max-height: 60px;
    right: -2px;
    margin-top: 10px; }
  .container-no-bts {
    padding: 5px; } }

.cards {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 22rem;
  width: 15rem;
  transition: all .2s ease;
  border-radius: .3rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1rem; }
  .cards:hover {
    transform: scale(1.1);
    cursor: pointer; }
  .cards__picture {
    background-size: cover;
    background-position: top;
    height: 10rem;
    background-blend-mode: overlay;
    text-align: center; }
  .cards__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .cards__details ul li {
      text-align: center;
      font-size: 1.4rem;
      padding: .1rem;
      text-transform: capitalize; }
      .cards__details ul li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .cards__details--type-pokemon {
    padding-top: .5rem;
    text-align: center;
    position: relative;
    height: 2rem; }
    .cards__details--type-pokemon p {
      color: antiquewhite;
      border: 1px solid antiquewhite;
      text-transform: uppercase;
      border-radius: 4px;
      padding: 0 4px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }

.fire {
  background-color: red; }

.grass {
  background-color: green; }

.normal {
  background-color: #775221; }

.fighting {
  background-color: #da5a11; }

.flying {
  background-color: #5b5bf3; }

.poison {
  background-color: #680268; }

.ground {
  background-color: #e6bb6b; }

.rock {
  background-color: #968b78; }

.bug {
  background-color: #84b458; }

.ghost {
  background-color: #5210bd; }

.steel {
  background-color: #bdbdbd; }

.water {
  background-color: #0059ff; }

.electric {
  background-color: yellow;
  color: gray !important; }

.psychic {
  background-color: palevioletred; }

.fairy {
  background-color: pink; }

.ice {
  background-color: #67c2ff; }

.dragon {
  background-color: #5031be; }

.dark {
  background-color: #1a0606; }

.container-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.rowg {
  max-width: 150rem;
  margin: 0 auto; }
  .rowg:not(:last-child) {
    margin-bottom: 8rem; }
  .rowg::after {
    content: "";
    display: table;
    clear: both; }
  .rowg [class^="col-"] {
    float: left; }
    .rowg [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .rowg .col-1-of-10 {
    width: calc((100% - 4rem * 9) / 10); }
  .rowg .col-2-of-10 {
    width: calc( 2 * ( ( 100% - 4rem * 9 ) / 10 ) +  4rem); }
  .rowg .col-3-of-10 {
    width: calc( 3 * ( ( 100% - 4rem * 9 ) / 10 ) +  4rem * 2); }
  .rowg .col-4-of-10 {
    width: calc( 4 * ( ( 100% - 4rem * 9 ) / 10 ) +  4rem * 3); }
  .rowg .col-5-of-10 {
    width: calc( 5 * ( ( 100% - 4rem * 9 ) / 10 ) +  4rem * 4); }
